time data:nth-child(0) {
  display: none;
}


body{
  font-family: 'Quicksand', sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  color: white;
}

time {
  text-align: center;
  margin-bottom: 20px;
}

day {
  text-align: center;
}